html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #e0e1dd;
    background-color: black;
}

nav {
    background-color: gray;
    padding: 0.5em;
}

nav > a {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1em;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

img { 
    max-width: 100%;
    overflow: none;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
}

.bg-dark {
    background-color: #0d1b2a !important;
}

.bg-secondary {
    background-color: #1b263b !important;
}